delay{1}

output{new_file.csv}

website
{
	link{https://daniel.haxx.se/blog/2020/03/01/imagining-a-thread-safe-curl_global_init/}
	chunk{<h2>*****</h2>}
}
website
{
	link{https://www.avito.ru/nizhniy_novgorod/kvartiry/1-k._kvartira_355m_718et._2157801091}
	chunk{<span class="js-item-price" itemprop="price" content="*****">}
}